.header{
  background-color: white;
  height: 300px;
  margin: 5px;
  border-radius: 40px;
  font-size: 55px;
  font-family:Georgia, Times, 'Times New Roman', serif;
  color: rgb(205,92,92); 
}

.title{
  padding-top: 140px;
  padding-right: 30px;
}

.titlePage2{
padding-left: 50px;
padding-top: 20px;
}

body{
  background-color: white;  
}

#pastilla{
  height: 250px;
  float: left;
  padding-left: 120px;
  padding-top: 50px;
}

#pastilla2{
  height: 200px;
  float: left;
  padding-left: 50px;
  padding-right: 0px;
}

#headerP2{
  height: 180px;
  background-color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(205,92,92); 
  padding-top: 30px;
}

#square1{
  height: 1000px;
  background-color: rgb(233, 150, 122);
  width: 50%;
  float: right;
}

#square2{
  height: 1000px;
  background-color: rgb(255, 228, 196);
  width: 50%;
}

#instructions{
  text-align: center;
  padding-top: 130px;
  font-family: Georgia, 'Times New Roman', Times, serif;  
  height: 300px;
  background-color: white;
  font-size: 22px;
}

#final{
  height: 15px;
  background-color: rgb(255, 228, 196);
}

#lupa{
  height: 400px;
  padding-left: 150px;
  padding-top: 180px;
}

#logo{
  height: 500px;
  padding-left: 50px;
  padding-top: 120px;
}

#desencriptar{
  height: 70px;
  width: 180px;
  margin-top: 60px;
  background-color: #555555;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#encriptar{
  height: 70px;
  width: 180px;
  margin-top: 60px;
  background-color: #555555;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#interactionUser{
  height: 150px;
  background-color:rgb(48, 200, 192);
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 35px;
  text-align: center;
  padding-top: 110px;
  color: white;
  /* border-radius: 10px; */
}  

#container-button-encriptar{
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

#container-button-desencriptar{
  width: 100%;
  text-align: center;
  padding-top: 90px;
}

.container-cifrar{
  height: 1000px;
  background-color: rgb(255, 228, 196);
  padding-top: 50px;
}

.text-cifrar{
  height: 300px;
  width: 100%;
  text-align: center;
}


#candado{
  height: 200px;
  background-color:rgb(255, 228, 196);
  border-radius: 5px;
  text-align: center;
  padding: 50px;
}

#cerrado{
  height: 190px;
  padding-right: 50px;
 }


 .input{
   height: 200px;
   width: 800px;
   border-color: rgb(205,92,92);
   border-width: 10px;
   border-radius: 8px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 25px;
   text-align: center;
 }

 

 #text-cifrado{
   height: 200px;
   width: 800px;
 }

 #loading{
   text-align: center;
 }

 #user-cifrar-instructions{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(205,92,92); 
   font-size: 30px;
 }
 
 #user-descifrar-instructions{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(205,92,92); 
  font-size: 30px;
}

 #btn-cifrando{
  height: 70px;
  width: 180px;
  margin-top: 60px;
  background-color: #555555;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #btn-descifrando{
  height: 70px;
  width: 180px;
  margin-top: 60px;
  background-color: #555555;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #mensaje-cifrado{
  height: 200px;
  width: 800px;
  background-color: white;
  border-width: 50px;
  border-color: black;
  border-radius: 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  margin-left: 265px;
  margin-top: 75px;
 }

 #mensaje-descifrado{
  height: 200px;
  width: 800px;
  background-color: white;
  border-width: 50px;
  border-color: black;
  border-radius: 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  margin-left: 260px;
  margin-top: 75px;
 }

 #ojos{
   height: 200px;
 }

 #offset-encriptar{
   height: 50px;
   width: 170px;
   text-align: center;
   border-width: 2px;
   border-color: slategrey;
   margin: 50px;
 }

 #offset{
  height: 50px;
  width: 150px;
  text-align: center;
  border-width: 2px;
  border-color: slategrey;
  margin: 50px;
}

#container{
  height: 1000px;
  text-align: center;
  margin: 50px;
  border-radius: 20px;
}

#container-descifrar{
  height: 1000px;
  text-align: center;
  margin: 50px;
  border-radius: 20px;
}

#clear{
  height: 70px;
  width: 180px;
  margin-top: 60px;
  background-color: #555555;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#backStart{
  height: 70px;
  width: 180px;
  margin-top: 60px;
  background-color: #555555;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#backStart2{
  height: 70px;
  width: 180px;
  margin-top: 60px;
  background-color: #555555;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}